<h4> Contact me</h4>
<form action="/exp/{{exp['id']}}/enquire" method="get">
  <div class="mb-2">
  <label>FullName</label> <br>
  <input  type="text" name="FullName" placeholder= "zain ul abidin">
   </div>
  <div class="mb-2"> 
  <label>Email</label> <br>
  <input type="text" name="Email" placeholder= "z.abidin@gmail.com"> 
   </div>
  <div class="mb-2">
  <label>LinkedinUrl</label> <br>
  <input type="text" name="LinkedinUrl" placeholder= "https://www.linkedin.com/in/bruce"> 
    </div>
  <div class="mb-2">
    <label> Requirements </label><br>
    <textarea name="Requirements"> </textarea>
  </div>
<div class="mb-2">
    <label> Comments </label><br>
    <textarea name="Comments"> </textarea>
  </div>

  
 <div class="mb-2">
  <input type="submit" >
   </div>
</form>