<h4> Contact me</h4>
<form action="/exp/{{exp['id']}}/enquire" method="get">
  <label>Full name</label><br>
  <input type="text" name="full name" placeholder= "zain ul abidin"> 
   <br>
  <label>Email</label> <br>
  <input type="text" name="Email" placeholder= "z.abidin@gmail.com"> 
   <br>
  <label>Linkedin Url</label> <br>
  <input type="text" name="Linkedin" placeholder= "https://www.linkedin.com/in/bruce"> 
  <div class="mb-2">
    <label> Requirements </label><br>
    <textarea name="Requirements"> </textarea>
  </div>
<div class="mb-2">
    <label> Comments </label><br>
    <textarea name="Comments"> </textarea>
  </div>

  
 <div class="mb-2">
  <input type="submit" >
   </div>
</form>