<!DOCTYPE.html>
<html>
<head>
<title> Enquiry Received</title>
  {%include 'bootstrap.html' %}
</head>
<body>
  {% include 'nav.html'%}
  {% include 'banner.html'%}
  <div class="container">
    <h1 class=" text-center mt-2 mb-4"> 
      Expertise
      <p> Your enquiry for {{exp['title']}} has been registered</p>
<b> Full Name </b>
  <div class="mb-2">
    {{application['Full Name']}}
  </div>
<b> Email </b>
  <div class="mb-2">
    {{application['Email']}}
  </div>
<b> Linkedin Url</b>
  <div class="mb-2">
    {{application['Linkedin Url']}}
  </div>
  <b> Requirements </b>
  <div class="mb-2">
    {{application['Requirements']}}
  </div>
<b> Comments </b>
  <div class="mb-2">
    {{application['Comments']}}
  </div >
  </div>
   {% include 'footer.html' %}
</body>

  
</html>