<!DOCTYPE.html>
<html>
<head>
  <title>{{exp.title}} Portfolio </title>
  {% include 'bootstrap.html'%}
<body>
  {% include 'nav.html'%}
  {% include 'banner.html'%}
  <div class="container">
    <h1 class=" text-center mt-2 mb-4"> 
      Expertise
    </h1>
    
  </div>
  <h3>{{exp.title}}</h3>
  <p class="lead ">{{exp.languages}} </p>
  <h4> Packages</h4>
  <p> {{exp.Packages}}</p>
  <h4> Details </h4>
  <ul>
    {% for e in exp.Details.split("\n")  %}
    <li>
      {{e}}
    </li>
    {% endfor %}
  </ul>
  <h4> Projects</h4>
<ol>
    {% for p in exp.Projects.split("\n")  %}
    <li>
      {{p}}
    </li>
    {% endfor %}
  </ol> 
  
  {% include 'footer.html' %}
</body>
</head>
</html>