<!DOCTYPE.html>
<html>
<head>

  <title> Portfolio </title>
  {% include 'bootstrap.html' %}
  
</head>
<body>
  {% include 'nav.html'%}
  
  <div class="container">
   <h1 class="text-center mt-2 mb-4">  Portfolio </h1>
  {% include 'banner.html'%}
 <h2 class="text-center mt-2 mb-4"> Inception</h2>
  <p class="lead"> I am a data science enthusiast. I have been playing with data for almost a year. I am a goal-oriented and creative individual with flexible working abilities.</p>
  <h2 class="text-center mt-2 mb-4"> Expertise  </h2>
    <div> 
    {% for ex in exp %}
      {% include 'jobitem.html' %}
      {% endfor %}
    </div> 
  <div class="text-center" >
  <button class="btn btn-primary btn-lg mt-2 mb-4"> Contact me</button>
    </div>
  </div>
  {% include 'footer.html' %}
</body>
  
</html>